body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #faffe3;
}

nav {
  background-color: #555;
  position: absolute;
  width: 100%;
  z-index: 3;
  font-size: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav ul li {
  padding: 10px;
}
nav ul li:hover:not(:last-child) {
  background-color: mediumslateblue;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

button {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
}

button:active {
}

.container {
  padding-top: 63px;
}

/* 
.nav {
    background-color: #aceded;
    margin-bottom: 10px;
    border-radius: 10px;
} */

/* 
.nav-link {
    color: black;
    z-index: 10;
} */
/* .nav-link:hover {
    color: #627ac9;
    background-color: #ffc3a0;
    border-radius: 12px;
} */

.myabout {
  display: flex;
  flex-direction: row;
}

.about {
  margin-left: 3px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #ff884386;
  color: #364156;
  padding: 12px;
  position: relative;
  width: 60%;
}

/* #almas {
    background-image: url('../img/almas.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 500px;
} */

#myimg,
#blob {
  position: absolute;
  /* top: -2%; */
  left: 60%;
}

#myimg {
  top: 7%;
  z-index: 2;
}

#blob {
  top: 100px;
}

.details {
    padding-right: 40vw;
    padding-left: 5px;
}

footer {
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}

@media (max-width:450px) {
    .
}